<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crimson</title>
    <link rel="stylesheet" href="css/awareness.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <h1 style="color: white;">AWARENESS!!(We will keep you posted)</h1>
  <div class="wrapper">
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>Don’t forget to tune in to 
@Cityline
 on April 18th as our very own Dr. Dixon will be on discussing vaginal dryness and how you can treat it!
Did you know women with infertility often experience vaginal dryness when their estrogen is in the low part of a cycle?</p>
      <div class="content">
        <div <a class="info" href="https://x.com/DrMarjorieDixon?t=VrLOWncDR6aQsxakJpbjCA&s=08" style="text-decoration:none;"></a>>
          <div class="name">Dr Marjorie Dixon</div>
          <div class="job">Doctor</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="images/a1.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left quote"></i>
      <p>Thank you 
@healthing_ca
 for sharing our discussion on #endometriosis 

@SOGCorg
 
@CanSAGE
 
@EndoActCanada
 
@PelvicPainEndo</p>
      <div class="content">
        <div <a class="info" href="https://x.com/DrMarjorieDixon?t=VrLOWncDR6aQsxakJpbjCA&s=08" style="text-decoration:none;"></a>>
          <div class="name">Sony S Singh</div>
          <div class="job"> Gynecologic Surgeon | Professor</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="images/a2.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left  quote"></i>
      <p>So pleased to dive into #menopause during #WorldMenopauseMonth 
@CTVMorningLive
 which affects GenX and Baby Boomers. 

Symptoms can include hot flashes, vaginal and skin dryness, joint pain, UTIs, changes in libido, mood, memory, and more!</p>
      <div class="content">
        <div class="info">
          <div class="name">Dr Yolanda Kirkham</div>
          <div class="job">Adolescent Gynecologist | Media Health Expert</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="images/a5.jpg" alt="">
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="box">
      <i class="fas fa-quote-left  quote"></i>
      <p>Involuntary Leakage of Urine?   
Involuntary leakage of urine is a condition that can be embarrassing and hard to treat. 
If you have sudden, uncontrolled release or the unintentional discharge of urine, then you may be suffering from involuntary leakage of urine.</p>
      <div class="content">
        <div class="info">
          <div class="name">Dr Astha Dayal</div>
          <div class="job">Gynecologist | Obstetrician</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="images/a3.jpeg" alt="">
        </div>
      </div>
    </div>
    <div class="box">
      <i class="fas fa-quote-left  quote"></i>
      <p>Excision and ablation are two common techniques, each with its pros and cons. While excision cuts out Endometriosis from affected organs, ablation is widely practiced but may not be as effective. Learn about the nuances and empower yourself with knowledge.</p>
      <div class="content">
        <div class="info">
          <div class="name">VimeeBindra</div>
          <div class="job">Endometriosis Surgeon</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
        <div class="image">
          <img src="images/a4.jpg" alt="">
        </div>
      </div>
      
    </div>
  </div>

</body>
</html>