<!DOCTYPE html>
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="css/details.css" />
  </head>
  <body>
    <section class="container">
      <header>Predict health status</header>
      <form action="#" class="form">
        <div class="input-box">
          <label>Age</label>
          <input type="number" placeholder="Enter age" required />
        </div>

        <div class="input-box">
            <label>Weight</label>
            <input type="number" placeholder="Enter weight" required />
          </div>

        <div class="input-box">
          <label>Cycle length</label>
          <input type="number" placeholder="Enter cycle length" required />
        </div>

        <div class="column">
          <div class="input-box">
            <label>Cramp level</label>
            <input type="number" placeholder="Enter phone number" required />
          </div>
          <div class="input-box">
            <label>Last period date</label>
            <input type="date" placeholder="Enter birth date" required />
          </div>
        </div>
        <button><a href="/report" style="color: white; text-decorations:none;">Submit</a></button>
      </form>
    </section>
  </body>
</html>